<a href="/"><div id="banner">
    <div id="banner-logo-wrapper"><img id="banner-logo-image" src="http://quotacle.com/smallLogoBetaTransparent.png" height="22px" /></div>
</div></a>
<div id="main-motto-super-box"><h1 id="main-motto-box">Create gifs from over 280,000 lines of movie dialogue</h1></div>
<div id="search-super-box">
    <div id="search-box">
        <form action="http://quotacle.com/results.php" method="get" id="search-form">
            <input id="search-input" type="text" name="search" placeholder="search a movie quote" autofocus autocomplete="off"/>
        </form>
        <div id="search-button">
            <div id="search-button-inner"></div>
        </div>
        <div id="autocomplete-box">

        </div>
    </div>
</div>