<html>
<head>
    <title>Quotacle</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quotacle - search and create gifs of any movie quote</title>
    <meta name="title" content="Quotacle - watch movie quotes" />
    <meta name="description" content="Instantly search and create gifs of any movie quote." />
    <meta name="keywords" content="quotes, search, movie, watch" />

    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/quotes/index.css" />

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>
<body>
    <a href="/"><div id="banner">
            <div id="banner-logo-wrapper"><img id="banner-logo-image" src="/images/logos/smallLogoTransparent.png" height="22px" /></div>
        </div></a>
    <div id="main-motto-super-box"><h1 id="main-motto-box">Create gifs from over 280,000 lines of movie dialogue</h1></div>
    <div id="search-super-box">
        <div id="search-box">
            <form action="/quotes/search" method="get" id="search-form">
                <input id="search-input" type="text" name="q" placeholder="search a movie quote" autofocus autocomplete="off"/>
            </form>
            <div id="search-button">
                <div id="search-button-inner"></div>
            </div>
            <div id="autocomplete-box">

            </div>
        </div>
    </div>
</body>
</html>





