<html>
<head>
    <title>Quotacle</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quotacle - search and create gifs of any movie quote</title>
    <meta name="title" content="Quotacle - watch movie quotes" />
    <meta name="description" content="Instantly search and create gifs of any movie quote." />
    <meta name="keywords" content="quotes, search, movie, watch" />

    <link rel="stylesheet" href="/stylesheets/global.css" />

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
</head>
<body>
<%- body %>
</body>
</html>

